﻿.grid
{
	width: 100%;
	display: block;
}

.grid table tbody tr td input[type=checkbox]
{
    width: 25px;
    height: 25px; 
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; 
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: silver;
    height: 36px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;    
    padding: 8px 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;    
    border-bottom: 5px solid red !important;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: white;
    border-bottom: 5px solid black !important;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.longbottom 
{
    width: 100%; 
    text-align: right;
    display: inline-block;
    padding: 2px 1px 1px 2px;     
}

.footer 
{
    position: fixed; 
    left: 0; right: 0; bottom: 0; width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}