﻿    <table width="100%">
        <tr>
            <td></td>
            <td style="font-size: 12pt; height: 50px;">
                [COMPANY_NAME]
            </td>
            <td valign=top>
            </td>
        </tr>
    </table>
    <div style="text-align: center; font-size: 22pt">
        <strong>RV COVER</strong>
    </div>
    <table width="100%">
        <tr>
            <td>
                Issuing Division:
            </td>
            <td style="font-size: 15pt">
                [ISSUING_DIVISION]
            </td>
            <td style="text-align: right" >
                RV Date:
            </td>
            <td style="font-size: 16pt">
                [RV_DATE]
            </td>
        </tr>
        <tr>
            <td>
                RV No:
            </td>
            <td colspan="3" style="font-size: 36pt; margin-top:-10px" valign="top">
                [RV_NO]
            </td>
        </tr>
        <tr>
            <td >
                Vendor:
            </td>
            <td colspan="3" style="font-size: 16pt" >
                [VENDOR_NAME]
            </td>
        </tr>
        <tr>
            <td >
                Transaction Type:
            </td>
            <td style="font-size: 16pt" >
                [TRANSACTION_TYPE]
            </td>
            <td style="text-align: right">
                Receipt Method:
            </td>
            <td style="font-size: 16pt" >
                [RECEIPT_METHOD] 
            </td>
        </tr>
    </table>
    <table width="50%">
        <tr>
            <td colspan="5">
                <strong style="font-size: 18pt">Total Amount
            </strong>
            </td>
        </tr>
        <tr>
            <td style="font-size: 11pt">[CUR_0]</td>
            <td style="font-size: 17pt" align="right">[AMT_0]</td>
            <td></td>
            <td style="font-size: 11pt">[CUR_3]</td>
            <td style="font-size: 17pt" align="right">[AMT_3]</td>
        </tr>
        <tr>
            <td style="font-size: 11pt">[CUR_1]</td>
            <td style="font-size: 17pt" align="right">[AMT_1]</td>
            <td></td>
            <td style="font-size: 11pt">[CUR_4]</td>
            <td style="font-size: 17pt" align="right">[AMT_4]</td>
        </tr>
        <tr>
            <td style="font-size: 11pt">[CUR_2]</td>
            <td style="font-size: 17pt" align="right">[AMT_2]</td>
            <td></td>
            <td style="font-size: 11pt">[CUR_5]</td>
            <td style="font-size: 17pt" align="right">[AMT_5]</td>
        </tr>
    </table>
    <table border="1">
        <tr>
            <td align="center" style="font-size: 10pt">Division PIC</td>
        </tr>
        <tr>
            <td style="font-size: 2pt">
                <br />
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td align="center"><strong style="font-size: 10pt">&nbsp; [DIVISION_PIC] &nbsp;</strong></td>
        </tr>
    </table>    
    <table width="100%">
        <tr>
            <td><br /><br /></td>
            <td style="font-size: 12pt;">
                [COMPANY_NAME]
            </td>
            <td valign="top" style="font-size: 10pt;">
                For Cashier
            </td>
        </tr>
    </table>
    <div style="text-align: center; font-size: 22pt">
        <strong>RV RECEIPT</strong>
    </div>
    <table width="100%">
        <tr>
            <td>
                Issuing Division:
            </td>
            <td style="font-size: 15pt">
                [ISSUING_DIVISION]
            </td>
            <td style="text-align: right" >
                RV Date:
            </td>
            <td style="font-size: 16pt">
                [RV_DATE]
            </td>
        </tr>
        <tr>
            <td >
                RV No:
            </td>
            <td colspan="3" style="font-size: 36pt; margin-top:-10px" valign="top">
                [RV_NO]
            </td>
        </tr>
        <tr>
            <td >
                Vendor:
            </td>
            <td colspan="3" style="font-size: 16pt" >
                [VENDOR_NAME]
            </td>
        </tr>
        <tr>
            <td >
                Transaction Type:
            </td>
            <td style="font-size: 16pt" >
                [TRANSACTION_TYPE]
            </td>
            <td style="text-align: right">
                Receipt Method:
            </td>
            <td style="font-size: 16pt" >
                [RECEIPT_METHOD] 
            </td>
        </tr>
    </table>
    <table width="50%">
        <tr>
            <td colspan="5">
                <strong style="font-size: 18pt">Total Amount
            </strong>
            </td>
        </tr>
        <tr>
            <td style="font-size: 11pt">[CUR_0]</td>
            <td style="font-size: 17pt" align="right">[AMT_0]</td>
            <td></td>
            <td style="font-size: 11pt">[CUR_3]</td>
            <td style="font-size: 17pt" align="right">[AMT_3]</td>
        </tr>
        <tr>
            <td style="font-size: 11pt">[CUR_1]</td>
            <td style="font-size: 17pt" align="right">[AMT_1]</td>
            <td></td>
            <td style="font-size: 11pt">[CUR_4]</td>
            <td style="font-size: 17pt" align="right">[AMT_4]</td>
        </tr>
        <tr>
            <td style="font-size: 11pt">[CUR_2]</td>
            <td style="font-size: 17pt" align="right">[AMT_2]</td>
            <td></td>
            <td style="font-size: 11pt">[CUR_5]</td>
            <td style="font-size: 17pt" align="right">[AMT_5]</td>
        </tr>
    </table>
    <table border="1">
        <tr>
            <td align="center" style="font-size: 10pt">
                Counter
            </td>
            <td align="center" style="font-size: 10pt">
                Division PIC
            </td>
        </tr>
        <tr>
            <td style="font-size: 2pt">
                <br />
                <br />
                <br />
            </td>
            <td style="font-size: 2pt">
                <br />
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td align="center">
                <strong style="font-size: 10pt">&nbsp; [COUNTER] &nbsp;</strong>
			</td>
            <td align="center">
                <strong style="font-size: 10pt">&nbsp; [DIVISION_PIC] &nbsp;</strong>
			</td>
        </tr>
    </table>    
    <table width="100%">
        <tr>
            <td><br /><br /></td>
            <td style="font-size: 12pt;">
                [COMPANY_NAME]
            </td>
            <td valign="top" style="font-size: 10pt;">
                For [ISSUING_DIVISION]
            </td>
        </tr>
    </table>
    <div style="text-align: center; font-size: 22pt">
        <strong>RV RECEIPT</strong>
    </div>
    <table width="100%">
        <tr>
            <td>
                Issuing Division:
            </td>
            <td style="font-size: 15pt">
                [ISSUING_DIVISION]
            </td>
            <td style="text-align: right" >
                RV Date:
            </td>
            <td style="font-size: 16pt">
                [RV_DATE]
            </td>
        </tr>
        <tr>
            <td >
                RV No:
            </td>
            <td colspan="3" style="font-size: 36pt; margin-top:-10px" valign="top">
                [RV_NO]
            </td>
        </tr>
        <tr>
            <td >
                Vendor:
            </td>
            <td colspan="3" style="font-size: 16pt" >
                [VENDOR_NAME]
            </td>
        </tr>
        <tr>
            <td >
                Transaction Type:
            </td>
            <td style="font-size: 16pt" >
                [TRANSACTION_TYPE]
            </td>
            <td style="text-align: right">
                Receipt Method:
            </td>
            <td style="font-size: 16pt" >
                [RECEIPT_METHOD] 
            </td>
        </tr>
    </table>
    <table width="50%">
        <tr>
            <td colspan="5">
                <strong style="font-size: 18pt">Total Amount
            </strong>
            </td>
        </tr>
        <tr>
            <td style="font-size: 11pt">[CUR_0]</td>
            <td style="font-size: 17pt" align="right">[AMT_0]</td>
            <td></td>
            <td style="font-size: 11pt">[CUR_3]</td>
            <td style="font-size: 17pt" align="right">[AMT_3]</td>
        </tr>
        <tr>
            <td style="font-size: 11pt">[CUR_1]</td>
            <td style="font-size: 17pt" align="right">[AMT_1]</td>
            <td></td>
            <td style="font-size: 11pt">[CUR_4]</td>
            <td style="font-size: 17pt" align="right">[AMT_4]</td>
        </tr>
        <tr>
            <td style="font-size: 11pt">[CUR_2]</td>
            <td style="font-size: 17pt" align="right">[AMT_2]</td>
            <td></td>
            <td style="font-size: 11pt">[CUR_5]</td>
            <td style="font-size: 17pt" align="right">[AMT_5]</td>
        </tr>
    </table>
    <table border="1">
        <tr>
            <td align="center" style="font-size: 10pt">Cashier</td>
        </tr>
        <tr>
            <td style="font-size: 2pt">
                <br />
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td align="center"><strong style="font-size: 10pt">&nbsp; [CASHIER] &nbsp;</strong></td>
        </tr>
    </table>