﻿    <table width="100%">
        <tr>
            <td><br /><br /></td>
            <td style="font-size: 14pt;">
                @COMPANY_NAME
            </td>
        </tr>
    </table>
    <div style="text-align: center; font-size: 18pt">
        <strong>SUMMARY @TRANSACTION_NAME</strong>
    </div>
	<table border="1" style="font-size: 10pt" >
	<tr>
	    <td align="center" width="50" style="font-size: 10pt">Checked By </td>
	    <td align="center" width="50" style="font-size: 10pt">Prepared By</td>
	</tr>
	<tr height="200">
	    <td height="200">   </td>
	    <td height="200">   </td>
	</tr>
	<tr height="50">
	    <td height="50" align="center" style="font-size: 10pt"> @CHECKER </td>
	    <td height="50" align="center" style="font-size: 10pt"> @PREPARER </td>
	</tr>
	</table>    
    <table width="55%" style="font-size: 10pt">
        <tr>
            <td>
                Vendor
            </td>
            <td align="left">
               : <strong>@VENDOR_CODE</strong> 
            </td>
            <td>
                @VENDOR_NAME
            </td>
        </tr>
        <tr>
            <td>
                WBS No
            </td>
            <td colspan="2">
                : <strong>@WBS_NO</strong>
            </td>
            
        </tr>
    </table>
    <table border="1" style="font-size: 10pt" cellpadding="5">
        <tr align="center">
			<td rowspan="2">
				No
			</td>
            <td rowspan="2">
                <b>Vendor Invoice No</b>
            </td>
            <td colspan = "3">
                <b>Amount</b>
            </td>
        </tr>
		<tr align="center" valign="middle">
		    <td>IDR</td>
		    <td>USD</td>
		    <td>JPY</td>
        </tr>
        <!--@rows:-->
        <tr valign="middle">
			<td align="right" valign="middle">@SEQ</td>
            <td align="center" valign="middle">@INVOICE_NO</td>
            <td align="right" valign="middle">@IDR</td>
            <td align="right" valign="middle">@USD</td>
			<td align="right" valign="middle">@JPY</td>
        </tr>
       <!--:@rows-->
    </table>
