/* -----------------------------------------------------------------
	Desc		:	Standarisasi untuk tag-tag HTML 
----------------------------------------------------------------- */

*
{
   font-size:12.5px !important;
   font-family:Arial,Times New Roman,Verdana;
}

html,body{
	margin:0;
	padding:0;
	/*font:12px "arial", times, serif,verdana !important;*/
	/*font-size:12px !important;*/
	font-family:Arial,Times New Roman,Verdana;
	line-height:18px;
	text-align:center;
	color:#000;
	cursor:default;
	/*background:#f5f5f5;*/
}

span,div,form{
	margin:0;
	padding:0;
	text-align:left;
}

h1,h2,h3,h4,h5,h6,form,div,span{
	padding:0;
	margin:0;
}

h1{	font-size:20px; }
h2{	font-size:16px; }
h3{	font-size:14px;	}
h4{	font-size:11px;	}
h5{	font-size:11px;	}
h6{	font-size:11px;	}

img{
	border:0;
	padding:0;
	margin:0;
}

a{
	color:blue;
	text-decoration:none;
}

a:hover{
	color:blue;
	text-decoration:underline;
}

a{
	cursor:pointer;
}

p{
	margin:0 0 10px 0;
	text-align:justify;
}

ul{
	list-style-type:none;
	margin:0 0 15px 2px;
	padding:0;
}

ul li{
	margin:0;
	padding:0 0 0 10px;
	/* background:url(../Images/arrow01.gif) no-repeat 0 5px; */
}

ol{
	margin-top:0;
	margin-bottom:15px;
}

ol li{
	margin:0;
	padding:0 0 0 0;
}

input, textarea, select{
	font:11px "verdana", arial, times, serif;
	margin:0;
}

table{
	clear:both;
}

table td{
	vertical-align:top;
}

table td.alignright{
	text-align:right;
}

table th{
	background:url(../Images/grad_grey.gif) repeat-x bottom;
	color:#777;
	text-align:center;
}

table tr.alt td{
	background:#f5f5f5 !important;
}

