﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UcManualFakturPajak.ascx.cs" Inherits="ELVISDashBoard.UserControl.UcManualFakturPajak" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxGridView.Export" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxHiddenField" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxCallbackPanel" TagPrefix="dx" %>

<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxPanel" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxPopupControl" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxTabControl" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxUploadControl" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxGridView" TagPrefix="dx" %>

<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxGridLookup" TagPrefix="dx" %>


<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxEditors" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxClasses" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Data.Linq" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxLoadingPanel" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2" Namespace="DevExpress.Web.ASPxTabControl"
    TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.2" Namespace="DevExpress.Web.ASPxClasses"
    TagPrefix="dx" %>

<%@ Register Assembly="Common" Namespace="Common.Control" TagPrefix="common" %>
<style type="text/css">
    .auto-style3 {
        width: 150px;
        height: 15px;
    }

    .auto-style4 {
        width: 300px;
        height: 15px;
    }
</style>
<%--<script src="../App_Themes/BMS_Theme/Script/VoucherForm.js" type="text/javascript"></script>--%>
<script type="text/javascript">

    function VATAmount_KeyPress(s, e) {
        spnEnomVATBaseAmount.SetValue(s.GetValue());
    }
    function EnomFakturType_ValueChanged(s, e) {
        popManualFakturPajak.Show();
    }
    function ManualPopUpFakturPajak_Click(s, e) {
        var _faktur = cmbEnomFakturType.GetValue();
        if (_faktur == "eFaktur") {
            txtEnomTaxInvoiceNumbereFaktur.SetVisible(true);

            txtEnomTaxInvoiceNumbereFaktur.Focus();
            txtEnomTaxInvoiceNumberNoneFaktur.SetVisible(false);

        }
        else {
            txtEnomTaxInvoiceNumbereFaktur.SetVisible(false);
            txtEnomTaxInvoiceNumberNoneFaktur.SetVisible(true);
            txtEnomTaxInvoiceNumberNoneFaktur.Focus();
        }
        popManualFakturPajak.Hide();

    }
    function EnomFakturType_init(s, e) {
        var _initFaktur = s.GetValue();
        if (_initFaktur == "eFaktur") {
            txtEnomTaxInvoiceNumbereFaktur.SetVisible(true);

            txtEnomTaxInvoiceNumbereFaktur.Focus();
            txtEnomTaxInvoiceNumberNoneFaktur.SetVisible(false);
        }
        else {
            txtEnomTaxInvoiceNumbereFaktur.SetVisible(false);
            txtEnomTaxInvoiceNumberNoneFaktur.SetVisible(true);
            txtEnomTaxInvoiceNumberNoneFaktur.Focus();
        }

    }

</script>



<asp:UpdatePanel runat="server" ID="pnManualFakturPajak">
    <Triggers>
        <asp:PostBackTrigger ControlID="btnSubmitManualFaktur" />
        <asp:PostBackTrigger ControlID="btnCancelManualFaktur" />
    </Triggers>
    <ContentTemplate>
        <table style="width: 100%">

            <tr>

                <td valign="top" style="width: 250px" class="mandatory_label td-layout-item">Faktur Type / Tax Invoice Number 
                </td>
                <td valign="top" class="td-layout-value value-pv">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <dx:ASPxComboBox ID="cmbEnomFakturType" ClientInstanceName="cmbEnomFakturType" runat="server" Width="100px"
                                    DropDownWidth="100px">
                                    <Items>
                                        <dx:ListEditItem Text="Non eFaktur" Value="Non eFaktur" />
                                        <dx:ListEditItem Selected="True" Text="eFaktur" Value="eFaktur" />
                                    </Items>
                                    <ClientSideEvents ValueChanged="EnomFakturType_ValueChanged" Init="EnomFakturType_init" />
                                </dx:ASPxComboBox>

                            </td>
                            <td></td>
                            <td style="width: 100%">
                                <dx:ASPxTextBox ID="txtEnomTaxInvoiceNumbereFaktur" runat="server" Width="200" ClientVisible="false" ClientInstanceName="txtEnomTaxInvoiceNumbereFaktur">
                                    <MaskSettings Mask="999.999-99.99999999" IncludeLiterals="None" />
                                    <ValidationSettings ValidationGroup="GroupManualEfaktur" ErrorTextPosition="Bottom" SetFocusOnError="True">
                                        <RequiredField IsRequired="True" ErrorText="The Tax Invoice Number is required and can't be empty" />
                                    </ValidationSettings>
                                </dx:ASPxTextBox>
                                <dx:ASPxTextBox ID="txtEnomTaxInvoiceNumberNoneFaktur" runat="server" Width="100%" ClientVisible="false" ClientInstanceName="txtEnomTaxInvoiceNumberNoneFaktur">
                                    <ValidationSettings ValidationGroup="GroupManualEfaktur" ErrorTextPosition="Bottom" SetFocusOnError="True">
                                        <RequiredField IsRequired="True" ErrorText="The Tax Invoice Number is required and can't be empty" />
                                    </ValidationSettings>

                                </dx:ASPxTextBox>
                            </td>
                        </tr>
                    </table>


                </td>
            </tr>
            <tr>
                <td valign="top" style="width: 250px" class="mandatory_label td-layout-item">Tax Invoice Date 
                </td>
                <td valign="top" class="td-layout-value value-pv">

                    <dx:ASPxDateEdit ID="dtEnomTaxInvoiceDate" ClientInstanceName="dtEnomTaxInvoiceDate"
                        ClientIDMode="static" runat="server" Width="120px" DisplayFormatString="dd MMM yyyy"
                        EditFormatString="dd/MM/yyyy" UseMaskBehavior="true" CssClass="display-inline-table">


                        <CalendarProperties>
                            <FastNavProperties Enabled="False" />
                        </CalendarProperties>


                        <ValidationSettings ValidationGroup="GroupManualEfaktur" ErrorTextPosition="Bottom" SetFocusOnError="True">
                            <RequiredField IsRequired="True" ErrorText="The Invoice Date is required and can't be empty" />
                        </ValidationSettings>
                    </dx:ASPxDateEdit>
                </td>
            </tr>
            <tr>
                <td valign="top" style="width: 250px" class="mandatory_label td-layout-item">Supplier NPWP 
                </td>
                <td valign="top" class="td-layout-value value-pv">
                    <dx:ASPxTextBox ID="txtEnomSupplierNPWP" runat="server" Width="142" ClientInstanceName="txtEnomSupplierNPWP">
                        <MaskSettings Mask="99.999.999.9-999.999" IncludeLiterals="None" />
                        <ValidationSettings ValidationGroup="GroupManualEfaktur" ErrorTextPosition="Bottom" SetFocusOnError="True">
                            <RequiredField IsRequired="True" ErrorText="The Supplier NPWP is required and can't be empty" />
                        </ValidationSettings>

                    </dx:ASPxTextBox>
                </td>
            </tr>
            <tr>
                <td valign="top" style="width: 250px" class="mandatory_label td-layout-item">Supplier Name 
                </td>
                <td valign="top" class="td-layout-value value-pv">
                    <dx:ASPxTextBox ID="txtEnomSupplierName" runat="server" Width="100%" ClientInstanceName="txtEnomSupplierName">

                        <ValidationSettings ValidationGroup="GroupManualEfaktur" ErrorTextPosition="Bottom" SetFocusOnError="True">
                            <RequiredField IsRequired="True" ErrorText="Supplier Name is required and can't be empty" />
                        </ValidationSettings>

                    </dx:ASPxTextBox>
                </td>
            </tr>
            <tr>
                <td valign="top" style="width: 250px" class="mandatory_label td-layout-item">Supplier Address
                </td>
                <td valign="top" class="td-layout-value value-pv">
                    <dx:ASPxTextBox ID="txtEnomSupplierAddress" runat="server" Width="100%" ClientInstanceName="txtEnomSupplierAddress">

                        <ValidationSettings ValidationGroup="GroupManualEfaktur" ErrorTextPosition="Bottom" SetFocusOnError="True">
                            <RequiredField IsRequired="True" ErrorText="Supplier Address is required and can't be empty" />
                        </ValidationSettings>

                    </dx:ASPxTextBox>
                </td>
            </tr>
            <tr>
                <td valign="top" style="width: 250px" class="mandatory_label td-layout-item">Buyer NPWP 
                </td>
                <td valign="top" class="td-layout-value value-pv">
                    <dx:ASPxTextBox ID="txtEnomBuyerNPWP" runat="server" Width="142" ClientInstanceName="txtEnomBuyerNPWP">
                        <MaskSettings Mask="99.999.999.9-999.999" IncludeLiterals="None" />
                        <ValidationSettings ValidationGroup="GroupManualEfaktur" ErrorTextPosition="Bottom" SetFocusOnError="True">
                            <RequiredField IsRequired="True" ErrorText="Buyer NPWP is required and can't be empty" />
                        </ValidationSettings>

                    </dx:ASPxTextBox>
                </td>
            </tr>
            <tr>
                <td valign="top" style="width: 250px" class="mandatory_label td-layout-item">VAT Amount 
                </td>
                <td valign="top" class="td-layout-value value-pv">
                    <dx:ASPxSpinEdit ID="spnEnomVATAmount" ClientInstanceName="spnEnomVATAmount" runat="server" DisplayFormatString="C2" Number="0" Width="172">
                        <ValidationSettings ValidationGroup="GroupManualEfaktur" ErrorTextPosition="Bottom" SetFocusOnError="True">
                            <RequiredField IsRequired="True" ErrorText="VAT Amount is required and can't be empty" />
                        </ValidationSettings>
                        <ClientSideEvents ValueChanged="VATAmount_KeyPress" />
                    </dx:ASPxSpinEdit>
                </td>
            </tr>
            <tr>
                <td valign="top" style="width: 250px" class="mandatory_label td-layout-item">VAT Base Amount 
                </td>
                <td valign="top" class="td-layout-value value-pv">
                    <dx:ASPxSpinEdit ID="spnEnomVATBaseAmount" ClientInstanceName="spnEnomVATBaseAmount" runat="server" DisplayFormatString="C2" Number="0" Width="172">
                        <ValidationSettings ValidationGroup="GroupManualEfaktur" ErrorTextPosition="Bottom" SetFocusOnError="True">
                            <RequiredField IsRequired="True" ErrorText="VAT Base Amount is required and can't be empty" />
                        </ValidationSettings>
                    </dx:ASPxSpinEdit>
                </td>
            </tr>
            <tr>
                <td valign="top" style="width: 250px" class="mandatory_label td-layout-item">Total PPnBM
                </td>
                <td valign="top" class="td-layout-value value-pv">
                    <dx:ASPxSpinEdit ID="spnEnomTotalPPnBM" ClientInstanceName="spnEnomTotalPPnBM" runat="server" DisplayFormatString="C2" Number="0" Width="172">
                        <ValidationSettings ValidationGroup="GroupManualEfaktur" ErrorTextPosition="Bottom" SetFocusOnError="True">
                            <RequiredField IsRequired="True" ErrorText="Total PPNBM is required and can't be empty" />
                        </ValidationSettings>
                    </dx:ASPxSpinEdit>
                </td>
            </tr>
            <tr>
                <td style="margin-right: 10px;"></td>
                <td></td>
            </tr>
            <tr>
                <td style="margin-right: 10px;"></td>
                <td></td>
            </tr>
            <tr>
                <td style="margin-right: 10px;"></td>
                <td align="right" valign="baseline">

                    <dx:ASPxButton runat="server" CssClass="display-inline-table" ID="btnSubmitManualFaktur"
                        Text="Submit" OnClick="evt_Submit_ManualFaktur" ValidationGroup="GroupManualEfaktur">
                        <ClientSideEvents Click="function(s,e) {loading(); }" />
                    </dx:ASPxButton>
                    <dx:ASPxButton runat="server" CssClass="display-inline-table" ID="btnCancelManualFaktur"
                        Text="Cancel" OnClick="evt_Cancel_ManualFaktur">
                        <ClientSideEvents Click="function(s,e) { popUploadFileFakturPajak.Hide(); }" />
                    </dx:ASPxButton>
                </td>
            </tr>
        </table>
        <dx:ASPxPopupControl ID="popManualFakturPajak" ClientInstanceName="popManualFakturPajak" runat="server"
            Modal="true" PopupHorizontalAlign="WindowCenter" PopupVerticalAlign="WindowCenter"
            Width="300px" EnableAnimation="false" HeaderText="Info" AllowDragging="false"
            AllowResize="false">
            <ContentCollection>
                <dx:PopupControlContentControl ID="popManualFakturPajakContent" runat="server">

                    <table>

                        <tr>
                            <td></td>
                            <td>Are you sure you want to Input eFaktur Data?  
                            </td>
                        </tr>
                        <tr>
                            <td style="margin-right: 10px;"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="margin-right: 10px;"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="margin-right: 10px;"></td>
                            <td align="right" valign="baseline">

                                <dx:ASPxButton runat="server" CssClass="display-inline-table" ID="btSubmitManualPopUpFakturPajak"
                                    Text="OK" AutoPostBack="False">
                                    <ClientSideEvents Click="function(s,e) {ManualPopUpFakturPajak_Click(); }" />
                                </dx:ASPxButton>
                                <dx:ASPxButton runat="server" CssClass="display-inline-table" ID="btCancelManualPopUpFakturPajak"
                                    Text="Cancel" AutoPostBack="False">
                                    <ClientSideEvents Click="function(s,e) { popManualFakturPajak.Hide(); }" />
                                </dx:ASPxButton>
                            </td>
                        </tr>
                    </table>



                </dx:PopupControlContentControl>
            </ContentCollection>
        </dx:ASPxPopupControl>
    </ContentTemplate>
</asp:UpdatePanel>



